
 body {Background-color: #84b1ec;
        font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
   
      }
     
     ul{ display: block;
        list-style-type: none;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        background: #e7edf5;
        margin: 10 0px;
        border: 4px 4px solid;
        border-radius: 50px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
       
      }
 
       a:link {text-decoration: none;
         padding: 5px;
       }
 
       li {display: inline;
        margin: 0 15px;
       
       }
 
       li:hover{ background-color: #4998FF;
        margin: 10 0px;
        opacity: 45%;
 
 
       }
 
       .home,.places,.notify, .set{
        color: #000;
       
       }
 
       #currentLocation{
         background-color: rgb(243, 239, 184);
         font-weight: normal;
 
       }
 
 
 
       h1{
        display: block;
        margin: 0 auto;
        Padding: 25px;
        border: 4px 4px solid;
        border-radius: 50px;
        color: #000;
        font-size: 38px;
        background: #e7edf5;
       }
       
 
       h1:hover{background-color: rgb(243, 239, 184);
       
 
       }
 
       #tempToday{
        color: rgb(116, 109, 109);
        font-size: 30px;
        font-weight: normal;
      }
 
      #todayDate{
        color: rgb(116, 109, 109);
        font-size: 30px;
        font-weight: normal;
      }
 
 
 
 
    .col{display: block;
        list-style-type: none;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        background: #e7edf5;
        opacity: 95%;
        margin: 10 0px;
        border: 15px 4px solid;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
 
    }
 
    .col:hover{background-color: rgb(243, 239, 184);
 
 
    }
 
    .day{font-size: 20px;
       
 
    }
 
    .temp, .metric{color: rgb(116, 109, 109);
        font-size: 20px;
 
    }
 
    .metric{ opacity: 50%;
 
 
    }
